{% extends 'base.html' %}

{% block content %}

<head>
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $( "#some_flag" ).dialog({
                    modal: true,
                    closeOnEscape: false,
                    dialogClass: "no-close",
                    resizable: false,
                    draggable: false,
                    width: 600,
                    buttons: [
                        {
                            text: "OK",
                            click: function() {
                            $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            });
        });
    </script>
</head>

{% if some_flag %}
    <div id="some_flag" title="Some Flag">
        <p>Some Text Here</p>
    </div>
{% endif %}

    {% load static %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            
             {% include 'nav.html' %}

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#uploadaudiomodal" data-toggle="modal" data-target="#uploadaudiomodal">Upload an Audio</a>
                    </li>
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <br><br><br><br>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">

            {% include 'messages.html' %}

            <!-- <div class="col-lg-12">
                <h1 class="page-header text-center">Audio
                </h1>
            </div> -->
        </div>

        <!-- /.row -->
        <!-- Project One -->
        <div class="row">
            <div class="col-sm-12">
                <form method = "post" action={% url 'audextractor' %}>
                    {% csrf_token %}
                    <div class="form-group text-center">
                        <audio style="width: 100%" controls>
                            <source src="{{ contents }}" type="audio/mpeg">
                            You browser does not support the audio tag
                        </audio>
                        <hr>
                        <input type="submit" class="btn btn-primary" value="Extract it" />
                        <hr>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-sm-6">
                <form method = "post" action={% url 'audanalyser' %}>
                    {% csrf_token %}
                    <div class="form-group text-center">
                        <textarea class="form-control" rows="22" id="text" name="text">{{txt}}</textarea>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Analyze it"/>
                    </div>
                </form>
            </div>
           
            {% include 'result_txt2aud.html' %}

        </div>


<div class="modal fade" role="dialog" id = "uploadaudiomodal" style="text-align:center">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h4>Upload an Audio</h4>
    </div>
    <form method = "post" action={% url 'audupload' %} enctype="multipart/form-data">
       {% csrf_token %}
            <input type="file" class = "form-control p-3" name="audfile" accept="audio/*">
            <br>
            <input type = "submit" class = "btn btn-primary" value = "submit">
            <hr>
        </div>
    </form>
    </div>
  </div>

{% endblock %}