{% extends 'base.html' %}

{% block content %}
<div class="container">

  <div class="col-sm-3"></div>

  <div class="col-sm-6">
    <br><br><br><br>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading text-center text-uppercase">Sentiment Analysis</div>
      <div class="panel-body text-center">
        {% load static %}
        <a href="{% url 'index' %}" class="blk h4" style="text-decoration: none;">
          <img src="{% static 'images/text.png' %}" width="50px" height="50px">&nbsp;&nbsp; Sentiment Analysis from texts</a>
        <hr>
        <a href="{% url 'imgindex' %}" class="blk h4" style="text-decoration: none;">
          <img src="{% static 'images/image.png' %}" width="50px" height="50px">&nbsp; Sentiment Analysis from image</a>
        <hr>
        <a href="{% url 'audindex' %}" class="blk h4" style="text-decoration: none;">
        <img src="{% static 'images/audio.png' %}" width="50px" height="50px">&nbsp; Sentiment Analysis from audio</a>
        <hr>
        <a href="{% url 'vidindex' %}" class="blk h4" style="text-decoration: none;">
          <img src="{% static 'images/video.jpg' %}" width="50px" height="50px">&nbsp; Sentiment Analysis from video</a>
      </div>
    </div>
  </div>
  </div>
  
  <div class="col-sm-3"></div>

</div>
{% endblock %}